# --------------------------------------
# mac
# --------------------------------------
.DS_Store

# --------------------------------------
# goland
# --------------------------------------
.idea/

# --------------------------------------
# vendor
# --------------------------------------
vendor/

# --------------------------------------
# secret
# --------------------------------------
*.secret
*.pwd

# --------------------------------------
# test
# --------------------------------------
_test/
