# --------------------------------------
# mac
# --------------------------------------
.DS_Store

# --------------------------------------
# idea
# --------------------------------------
.idea/

# --------------------------------------
# vendor
# --------------------------------------
vendor/

# --------------------------------------
# password file
# --------------------------------------
*.pwd
