# --------------------------------------
# mac
# --------------------------------------
.DS_Store

# --------------------------------------
# log
# --------------------------------------
*.log
*.out

# --------------------------------------
# idea
# --------------------------------------
.idea/
*.eml
*.iml
*.ipr
*.iws

# --------------------------------------
# vendor
# --------------------------------------
vendor/

# --------------------------------------
# password file
# --------------------------------------
*.pwd
